main{
    padding: 1.5rem 1.5rem 0 1.5rem;
    background-color: whitesmoke;
}


#profilePicture{
    display: flex;
    height: 120px;
}
#profilePicture img{
    height: 100%;
    clip-path: circle(60px at center);
}


#socialArea ul div a{
    color: #343a40!important;
    padding: 0 .5rem 0 .5rem;
    font-size: 1.5rem;
    transition: transform .2s;
}

#socialArea ul div:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }

#emailArea a{
    color: #343a40;
}
#emailArea a::before{
    font-size: 1.5rem;
    padding: 0 .5rem 0 .5rem;
}
