{% extends "includes/base.html" %}

{% block content %}
{% include 'includes/navbar.html' %}

<div class="h-100 w-100 flex-fill">

    <select class="form-control shadow-none">
        <option value="" disabled selected>Escolha um Usuario</option>
        {% for i in result %}
            <option value="{{ i.id }}">{{ i.usuario}}</option>
        {% endfor %}
    </select>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCadastro">
        Cadastrar Usuario
    </button>
    {% include 'forms/cadUser.html' %}

</div>



{% include 'includes/footer.html' %}
{% endblock %}